<div class="default-page">
    <section class="main category">
    
        <div class="row d-flex category-container">
            <div class="header"> 
                Kategorie
                <div class="header-info">
                    <div class="name">Alle Kategorien</div>
                    <div class="icons">
                        <i class="fa fa-solid fa-trash delete"></i>
                    </div>
                </div>
                <div class="add-new">
                    <a href="/category/new"><i class="fa fa-solid fa-plus"></i>Neue Kategorie erstellen</a>
                </div>
            </div>
        </div>

        <% categories.forEach(function(category){ %>
            <div class="row d-flex justify-content-center">
                <div class="test-container">
                    <div class="category-info d-flex flex-row align-items-center">
                        <div>
                            <div class="name">
                                <%= category.name %>
                            </div>
                            <div class="description">
                                <%= category.description %>
                            </div>
                        </div>

                        <a href="/category/<%= category.id %>" style="margin: 10px;"><i class="fa fa-solid fa-chevron-right"></i></a>

                    </div>

                    <div class="icons">
                        <a href="/category/<%= category.id %>/edit"><i class="fas fa-pen edit"></i></a>
                        <a href="/category/<%= category.id %>/delete"><i class="fa fa-solid fa-trash delete"></i></a>
                    </div>

                </div>
            </div>

        <% }); %>
    </section>

</div>