
<div>
    <div class="col d-flex justify-content-center">
        <form class="form-container" action="/quiz/<%=quiz.id%>/update" method="post">
            <div class="form-group">
                <label class="form-label" for="name">Name</label>
                <input class="form-input" maxlength="50" type="text" id="name" name="name" value="<%= quiz.name %>">
            </div>

            <div class="form-group">
                <label class="form-label" for="name">Beschreibung</label>
                <input class="form-input" maxlength="50" type="text" id="description" name="description" value="<%= quiz.description %>">
            </div>

            <div class="form-group">
                <label class="col-form-label-lg">Kategorie</label>
                <select class="form-select form-select" name="category">
                    <% categories.forEach(function(category){ %>
                        <option value="<%= category.id %>">
                            <%= category.name %>
                        </option>
                        <% }); %>
                </select>
            </div>

            <div class="form-button-container">
                <button type="submit" class="btn btn-warning btn-lg">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>