<div class="default-page">
    <section class="main category">

        
        <div class="row d-flex category-container">
            <div class="header"> 
                Quiz
                <div class="header-info">
                    <div class="name">Alle Quizze</div>

                    <div class="add-new">
                        <a href="/quiz/new"><i class="fa fa-solid fa-plus"></i>Neues Quiz erstellen</a>
                    </div>
                </div>
            </div>
        </div>
        

        <% if (quizes.length> 0) { %>
            <% quizes.forEach(function(quiz){ %>
                <div class="row d-flex justify-content-center">
                    <div class="test-container">
                        <div class="category-info d-flex flex-row align-items-center">
                            <div>
                                <div class="name">
                                    <%= quiz.name %>
                                </div>
                                <div class="description">
                                    <%= quiz.description%>
                                </div>
                            </div>

                            <a href="/quiz/<%= quiz.id %>" style="margin: 10px;"><i class="fa fa-solid fa-chevron-right"></i></a>

                        </div>

                        <div class="icons">
                            <a href="/quiz/<%= quiz.id %>/edit"><i class="fas fa-pen edit"></i></a>
                            <a href="/quiz/<%= quiz.id %>/delete"><i class="fa fa-solid fa-trash delete"></i></a>
                        </div>

                    </div>
                </div>
                <% }); %>
                    <% } else{ %>
                        <div>Noch keine Quiz zu dieser Kategorie vorhanden.</div>
                        <div class="add-new">
                            <a href="/quiz/new"><i class="fa fa-solid fa-plus"></i>Neues Quiz erstellen</a>
                        </div>
                        <% } %>
    </section>

</div>