<div class="default-page">
    <section class="main category">

        <div class="col d-flex flex-column">
            <div class="header">Quiz</div>

            <div class="header-info">
                <div class="name"><%= quiz.name %></div>
                <div class="icons">
                    <a href="/quiz/<%= quiz.id %>/edit"><i class="fas fa-pen edit"></i></a>
                    <a href="/quiz/<%= quiz.id %>/delete"><i class="fa fa-solid fa-trash delete"></i></a>
                </div>
            </div>


            <div class="description">
                <%= quiz.description %>
            </div>

            <form action="/quiz/<%= quiz.id %>/feedback" method="post">
                <span class="review-holder">
                    <span class="review" data-id="<%= quiz.id %>">
                        <span data-description="hate it"></span>
                        <span data-description="don't like it"></span>
                        <span data-description="it's ok"></span>
                        <span data-description="it's good"></span>
                        <span data-description="it's great"></span>
                    </span>
                </span>
            </form>
    
            <div class="add-new">
                <a href="/quiz/<%= quiz.id %>/question/new"><i class="fa fa-solid fa-plus"></i>Neue Frage hinzufügen</a>
            </div>

            <% quiz.questions.forEach(function(question){ %>
                <div class="row d-flex justify-content-center">
                    <div class="test-container">
                        <div class="category-info d-flex flex-row align-items-center">
                            <div>
                                <div class="name">
                                    <%= question.question %>
                                </div>
                            </div>
    
                            <a href="/question/<%= question.id %>" style="margin: 10px;"><i class="fa fa-solid fa-chevron-right"></i></a>
    
                        </div>
    
                        <div class="icons">
                            <a href="/question/<%= question.id %>/edit"><i class="fas fa-pen edit"></i></a>
                            <a href="/question/<%= question.id %>/delete"><i class="fa fa-solid fa-trash delete"></i></a>
                        </div>
    
                    </div>
                </div>
            <% }); %>
        </div>

    </section>

</div>